@import '../../../style/index.scss';

.Title {
    @include sidepaddings;
    padding-top: 2.5%;
    h1 { 
        max-width: 1000px;
        margin-bottom: 50px;
    }
    .highlighted {
        color: $tellor-green;
    }

    &__video {
        padding: 2.5% 0;
        iframe {
            margin-bottom: -60px;
            box-shadow: 0 0 15px 0px #111;
            width: 560px; 
            height: 315px;
            cursor:pointer;
        }
        video {
            margin-bottom: -60px;
            box-shadow: 0 0 15px 0px #111;
            width: 560px; 
            height: 315px;
            cursor:pointer;
        }
        @media (max-width: 840px) {
            padding: 0;
            iframe {
                margin-bottom: -20px;
                width: 275px; 
                height: 154.5px;
            }
            h1 { 
                margin-bottom: 0;
            }
            img {
                margin-bottom: -20px;
            }
            video {
                margin-bottom: -60px;
            }
        }
    }
}