@import "../../../style/index.scss";

.HowItWorks {
  @include leftcolumn;
  @include sidepaddings;
  width: 100%;
  padding-top: 60px;
  button {
    margin: 25px 0px 40px 0px;
  }
  iframe {
    margin: 20px 0px;
  }
  @media (max-width: 840px) {
    padding-top: 30px;
  }
  &__actions {
    img {
      padding: 0 15px 0 0;
    }
    button {
      margin-bottom: 100px;
    }
    @media (max-width: 840px) {
      @include centeredcolumn;
      width: 100%;

      button {
        width: 100%;
        margin: 35px 0;
      }
    }
  }
}
