@import '../../../style/index.scss';


.HowItWorks {
    @include leftcolumn;
    @include sidepaddings;
    width: 100%;
    padding-top: 60px;
    @media (max-width: 840px) {
        padding-top: 30px;
    }
    &__list {
        padding: 10px 0 0 0;
    }
}