@import "../../../style/index.scss";

.Bounties {
  width: 100%;
  .bountieExpanded {
    .firstRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width:700px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
      div {
        margin: 0;
        p {
          @include fourteenpxfont;
          padding-right: 10px;
        }
        @media (max-width:700px) {
          margin-bottom: 20px;
        }
      }
    }
    #claimModalButton {
      &:hover {
        background-color: $real-tellor-green;
        color: white;
      }
      &:focus {
        background-color: #2dfc9f;
        color: white;
      }
    }
    .claimFormExpanded {
      margin-top: 10px;
      border-radius: 0;
      padding: 2%;
      border: none;
    }
    .Claim {
      @include centeredcolumn;
      .Claim__Form {
        width: 80%;
        .nondisplay {
          display: none;
        }
        .CF__Double__Container {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        .CF__Input__Container {
          flex: 0.48;
          display: flex;
          flex-direction: column;
          label {
            @include fourteenpxfont;
            margin-right: 1%;
            color: $background;
          }
          input {
            border: 1px solid rgba(#999999, 0.4);
            width: 100%;
            height: 42px;
            display: flex;
            justify-content: space-between;
            border-radius: 0;
            padding-left: 10px;
            color: $background;

            &:focus {
              outline: none;
              border: 1px solid $darkestgrey;
            }
          }
        }
        .CF__Error {
          display: flex;
          width: 100%;
          justify-content: center;
          padding-top: 5px;
        }
        .CF__Error h5 {
          color: red;
        }
        .CF__Long__Input {
          width: 100%;
          display: flex;
          flex-direction: column;

          label {
            @include fourteenpxfont;
            color: $background;
          }
          input {
            border: 1px solid rgba(#999999, 0.4);
            width: 100%;
            height: 42px;
            border-radius: 0;
            padding-left: 10px;
            color: $background;

            &:focus {
              outline: none;
              border: 1px solid $darkestgrey;
            }
          }
          textarea {
            border: 1px solid rgba(#999999, 0.4);
            width: 100%;
            height: 100px;
            border-radius: 0;
            padding: 10px;
            resize: none;
            color: $background;

            &:focus {
              outline: none;
              border: 1px solid $darkestgrey;
            }
          }
        }
        .marginTop {
          margin-top: 1.5%;
        }
        .Claim__Button {
          margin-top: 3%;
          &:hover,
          &:focus {
            cursor: pointer;
            text-decoration: none;
            background-color: $real-tellor-green;
            color: white;
          }
          &:hover:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .ant-table {
    @include sixteenpxfont;
    font-weight: 400;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid $background;
  }
  .ant-table-thead > tr > th {
    @include twelvepxfont;
    background: none;
    border: none !important;
    text-transform: lowercase;
    font-weight: 300;
  }
  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }
  .ant-btn {
    background-color: $tellor-green;
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 10px !important;
  }


  // div.ant-table-filter-dropdown-btns
  //   > button.ant-btn.ant-btn-primary.ant-btn-sm {
  //   background-color: white;
  //   border-color: $darkestgrey;
  //   color: $darkestgrey;
  // }
  // button.ant-btn.ant-btn-primary.ant-btn-sm {
  //   background-color: white;
  //   border-color: $darkestgrey;
  //   color: $darkestgrey;
  // }

  //    .ant-table-column-sorter-up, .ant-table-column-sorter-down {
  //        font-size: 10px;
  //    }
  //    .ant-table-filter-trigger {
  //         margin: -6px -8px -4px 4px;
  //         font-size: 11px;
  //     }
}

.BountiesDark {
  width: 100%;
  .bountieExpanded {
    .firstRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        width: 75%;
        p {
          @include fourteenpxfont;
        }
      }
    }
    .claimFormExpanded {
      margin-top: 10px;
      border-radius: 0;
      padding: 2%;
      border: none;
      background-color: $background;
    }
    .Claim {
      @include centeredcolumn;
      .Claim__Form {
        width: 80%;
        .nondisplay {
          display: none;
        }
        .CF__Double__Container {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        .CF__Input__Container {
          flex: 0.48;
          display: flex;
          flex-direction: column;
          label {
            @include fourteenpxfont;
            margin-right: 1%;
            color: white;
          }
          input {
            border: 1px solid white;
            border-bottom: 2px solid white;
            width: 100%;
            height: 42px;
            display: flex;
            justify-content: space-between;
            border-radius: 0;
            padding-left: 10px;
            color: white;
            background-color: $background;

            &:focus {
              outline: none;
              border: 2px solid $darkestgrey;
            }
            &::placeholder {
              color: white;
            }
          }
        }
        .CF__Error {
          display: flex;
          width: 100%;
          justify-content: center;
          padding-top: 5px;
        }
        .CF__Error h5 {
          color: red;
        }
        .CF__Long__Input {
          width: 100%;
          display: flex;
          flex-direction: column;

          label {
            @include fourteenpxfont;
            color: white;
          }
          input {
            border: 1px solid white;
            border-bottom: 2px solid white;
            width: 100%;
            height: 42px;
            border-radius: 0;
            padding-left: 10px;
            color: white;
            background-color: $background;

            &:focus {
              outline: none;
              border: 1px solid $darkestgrey;
            }
            &::placeholder {
              color: white;
            }
          }
          textarea {
            border: 1px solid white;
            border-bottom: 2px solid white;
            width: 100%;
            height: 100px;
            border-radius: 0;
            padding: 10px;
            resize: none;
            color: white;
            background-color: $background;

            &:focus {
              outline: none;
              border: 1px solid $darkestgrey;
            }
            &::placeholder {
              color: white;
            }
          }
        }
        .marginTop {
          margin-top: 1.5%;
        }
        .Claim__Button {
          margin-top: 3%;
          &:hover,
          &:focus {
            cursor: pointer;
            text-decoration: none;
          }
          &:hover:disabled {
            cursor: not-allowed;
          }
        }
        .ant-btn:disabled {
          background-color: $background;
        }
      }
    }
  }
  .ant-table {
    @include sixteenpxfont;
    font-weight: 400;
    background-color: $background;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid white;
    color: white;
    background-color: $background;
  }
  .ant-table-tbody > tr:hover > td {
    background-color: #3a3a3a;
  }
  .ant-table-thead > tr > th {
    @include twelvepxfont;
    background: none;
    border: none !important;
    text-transform: lowercase;
    font-weight: 300;
    color: white;
  }
  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }

  button.ant-pagination-item-link {
    color: white;
  }
  li.ant-pagination-item > a {
    color: white;
  }

  // div.ant-dropdown.ant-dropdown-placement-bottomRight > div {
  //   background-color: black;
  // }

  // button.ant-btn.ant-btn-link.ant-btn-sm {
  //   background-color: white;
  //   border-color: $darkestgrey;
  //   border-right: none;
  //   color: $darkestgrey;
  // }
  // button.ant-btn.ant-btn-primary.ant-btn-sm {
  //   background-color: white;
  //   border-color: $darkestgrey;
  //   color: $darkestgrey;
  // }

  //    .ant-table-column-sorter-up, .ant-table-column-sorter-down {
  //        font-size: 10px;
  //    }
  //    .ant-table-filter-trigger {
  //         margin: -6px -8px -4px 4px;
  //         font-size: 11px;
  //     }
}

//General Ant-D Table Overrides Specific to Bounties.js
//Shouldn't be overriding anything else
button.ant-btn.ant-btn-link.ant-btn-sm {
  background-color: white;
  border-color: $darkestgrey;
  border-right: none;
  color: $darkestgrey;
}
button.ant-btn.ant-btn-primary.ant-btn-sm {
  background-color: white;
  border-color: $darkestgrey;
  color: $darkestgrey;
}
