@import "../../style/index.scss";

.BlogPosts__Container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 100px 145px 35px;
}
.dropdown {
  display: flex;
  margin-right: 30px;

  img {
    margin-right: 10px;
  }
}
.search {
  transition: 0.3s ease-in;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.BlogPosts {
  padding: 0px 145px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 60%;

  img {
    width: 660px;
    height: 442px;
    border: 1px solid #c4c4c4;
    margin-bottom: 25px;
  }

  h5 {
    margin-bottom: 13px;
  }
  h1 {
    width: 85%;
  }
}

.subhero {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subhero__innerDivs {
  width: 430px;
  img {
    width: 430px;
    height: 129px;
    border: 1px solid #c4c4c4;
    margin-bottom: 15px;
    object-fit: cover;
  }

  h5 {
    margin-bottom: 13px;
  }
  h1 {
    width: 85%;
    margin-bottom: 40px;
  }
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.posts__innerDivs {
  img {
    width: 363px;
    height: 202px;
    border: 1px solid #c4c4c4;
    object-fit: cover;
    margin-bottom: 15px;
  }
  h5 {
    margin-bottom: 13px;
  }
  h1 {
    width: 85%;
    margin-bottom: 40px;
  }
}

.Load__More {
  @include centeredrow();
  h4 {
    text-align: center;
  }
}
