@import '../../../style/index.scss';

.InvolvedIntro {
    .icon {
        margin-right: 15px
    }

    &__intro {
        padding: 2.5% 12% 0 12%;

        button {
            margin: 2% 0;
        }
    }


    &__body {
        @include leftcolumn;
        button {
            margin: 2% 12%;
        }
        .button {
            margin: 1.7% 9%;
        }
        @media (max-width: 810px) {
            .button {
                margin: 1.7% 4.2%;
            }
        }
    }
}