@import '../../../style/index.scss';

.JobListing {
    @include leftcolumn;
    width: 100%;
    margin: 4% 0 2% 0;
    padding: 0.5% 5% ;
    border-left: 1px solid #262626;
    h3 {
        padding: 0 0 10px 0; 
     }

    &__resp {
        padding: 10px 0; 
        p {
            margin: 0;
        }
        ul {
            margin: 0;
        }
    }
    &__qual {
        padding: 10px 0; 
        p {
            margin: 0;
        }
        ul {
            margin: 0;
        }
    }
    &__outro {
        padding: 10px 0; 
    }
}