@import '../../../style/index.scss';

.RequestIntro {
  @include leftcolumn;
  @include sidepaddings;
  width: 100%;
  padding-top: 60px;
  @media (max-width: 840px) {
    padding-top: 30px;
    .request-description {
      padding-top: 20px;
    }
  }
    h1 {
        max-width: 800px;
        font-size: 2.9rem;
        line-height: 3rem;
    }
  &__desc {
    padding-top: 30px;
    p {
        padding-top: 10px;
    }
  }
 
  &__actions {
    @include centeredrow;
    padding-top: 30px;
    @media (max-width: 840px) {
      width: 100%;
      @include centeredcolumn;
    }
    img {
        margin-right: 20px;
    }
  }
  .request-text-container {
    padding-top: 40px;
  }
}