@import '../../../../style/index.scss';

.LiveDatapoints {
    padding: 0 0 2.5% 0;
    
    .ant-table-tbody > tr > td:nth-child(2) {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 35px;
    }
    .ant-table-tbody > tr > td:nth-child(5) {
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        // line-height: 52px;
        text-align: right;
    }
    .ant-table-thead > tr > th:first-child {
        text-transform: uppercase;
    }
    
}