@import '../../../style/index.scss';


.GettingStarted {
    @include leftcolumn;
    width: 100%;
    padding: 0.5% 12% 8% 12%;
    &__intro {
        p {
            padding: 10px 0 0 0;
        }
    }
    &__video {
        padding: 3.5% 0;
        video {
            box-shadow: 0 0 15px 2px #111;
            width: 560px; 
            height: 315px;
            cursor:pointer;
        }
        @media (max-width: 810px) {
            video {
                width: 325px; 
                height: 157.5px;
            }
        }
    }
    &__actions {
        img {
            padding: 0 15px 0 0;
        }
        @media (max-width: 810px) {
            button {
                margin:20px 0;
            }
        }
    }
}